.input-search {
    width: 55%;
    margin-top: 10rem;
}

.blog-card {
    border-radius: 10px;
    height: 75vh;
}

.Blog-card-img {
    border-radius: 10px 10px 0 0;
    height: 17rem;
}